/* Geral */
html{
    scroll-behavior: smooth;
}

html *{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
}

header .icon{
    display: flex;
    color: white;
    align-items: center;
}

header .icon i{
    font-size: 24px;
    padding: 0px 10px;
}

header .icon p{
    
}

header .links{}

header .links ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}

header .links ul li{
    padding: 0.7em 1em;
}

header .links ul li a{
    color: white;
    text-decoration: none;
}

header .links ul li a:hover{
    color: green;
}
/* Conteúdo */

/* Inicio */
.inicio{
    height: 25em;
    display: flex;
}
.inicio-foto{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.minha-foto{
    border-radius: 10px;
    box-shadow: 10px 10px 0px black;
}
.inicio-conteudo{
    background-color: blue;
}


/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: black;
    color: white;
}