/* Geral */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
    background-color: rgb(20, 20, 20);
    height: 3em;
    display: flex;
}
.icon{
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.icon p{
    padding: 0px 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.nav-links ul {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
}

.nav-links ul li{
    height: 100%;
    width: 100%;
    display: flex;
}

.nav-links ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul li a :hover{
    background-color: gray;
    transition: 1s;
}


/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: black;
    color: white;
}