/* Geral */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
header {
    background-color: rgb(20, 20, 20);
    height: 3em;
    display: flex;
    justify-content: space-between;
    padding: 1em;             
}
.icon{
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.icon p{
    padding: 0px 10px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links ul li{
    height: 100%;
    display: flex;
}

.nav-links ul li a {
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul li :hover{
    background-color: rgb(62, 62, 62);
    transition: 1s;
}
/* Conteúdo */

/* Inicio */
.inicio{
    height: 25em;
    display: flex;
}
.inicio-foto{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.minha-foto{
    border-radius: 10px;
    box-shadow: 10px 10px 0px black;
}
.inicio-conteudo{
    background-color: blue;
}


/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: black;
    color: white;
}